<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Race Database for 1950-2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='f1-logo.png') }}" alt="F1 Logo" class="logo">
            <h1>F1 Race Database for 1950-2024</h1>
        </div>
    </header>



    <div class="container">
        <div class="input-container">
            <label for="yearInput">Enter Year:</label>
            <input type="text" id="yearInput" placeholder="Enter year...">
        </div>
        <div class="input-container">
            <label for="roundInput">Enter Round:</label>
            <input type="text" id="roundInput" placeholder="Enter round...">
        </div>
        <button onclick="fetchRaceData()">Fetch Race Data</button>
    </div>

    <div id="raceData" class="container"></div>
    <div id="raceResults" class="container"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
